<p id="notice"><%= notice %></p>

<div class="d-flex flex-justify-between flex-items-center">
  <h1>Channel List</h1>
  <div><%= link_to 'New Channel', new_channel_path, class: "btn btn-sm btn-primary" %></div>
</div>

<div class="Box">
  <ul>
    <% @channels.each do |channel| %>
      <li class="Box-row d-flex flex-justify-between">
        <div>
          <h2><%= channel.name %></h2>
          <p><%= channel.description %></p>
          <%= link_to "Created by #{channel.creator.name}", user_path(channel.creator), class: "Link--muted" %>
        </div>
        <div class="d-flex flex-column">
          <%= link_to channel.member?(current_user) ? 'Show Channel' : 'Join Channel', channel, class: "btn btn-primary" %>
          <% if channel.creator == current_user %>
            <div><%= link_to 'Edit', edit_channel_path(channel), class: "btn mt-1" %></div>
            <div><%= link_to 'Destroy', channel, method: :delete, data: { confirm: "Are you sure you want to destroy #{channel.name}?" }, class: "btn mt-1 btn-danger" %></div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
