<p id="notice"><%= notice %></p>

<h1>Channels</h1>

<div class="Box">
  <ul>
    <% @channels.each do |channel| %>
      <li class="Box-row">
        <div><%= channel.name %></div>
        <div><%= channel.description %></div>
        <div><%= channel.user_id %></div>
        <div><%= link_to 'Show', channel %></div>
        <div><%= link_to 'Edit', edit_channel_path(channel) %></div>
        <div><%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </li>
    <% end %>
  </ul>
</div>

<br>

<%= link_to 'New Channel', new_channel_path %>
