<p id="notice"><%= notice %></p>

<h1>Users</h1>

<div class="Box">
  <ul>
    <% @users.each do |user| %>
      <li class="Box-row">
        <div><%= user.name %></div>
        <div><%= user.email %></div>
        <div><%= user.preferred_pronouns %></div>
        <div><%= user.bio %></div>
        <div><%= link_to 'Show', user %></div>
        <div><%= link_to 'Edit', edit_user_path(user) %></div>
        <div><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </li>
    <% end %>
  </ul>
</div>

<br>

<%= link_to 'New User', new_user_path %>
