<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex height-full">
      <div class="col-2 p-2 color-bg-canvas-inverse color-text-inverse">
        CHANNELS GO HERE
      </div>
      <div class="col-10 p-2">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
