<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="d-flex height-full">
        <nav class="col-2 pt-5 color-bg-canvas-inverse color-text-inverse menu" aria-label="Person settings">
          <% current_user.channels.each do |channel| %>
            <a class="menu-item color-text-inverse d-flex flex-justify-between" href="<%= channel_path(channel) %>">
              <span><%= channel.name %></span>
              <span class="Counter color-bg-canvas"><%= channel.active_members.count %></span>
            </a>
          <% end %>
        </nav>
        <div class="col-10 p-2">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
